.patient_id{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.admin_success_msg{
    color: green !important;
    text-align: center;
    border-color: green !important;
}


.ic-profile-upload {
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 2px 7.68px 0.32px rgba(10, 10, 10, 0.1);
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

.ic-profile-upload span {
    font-family: robo-bold;
    font-size: 18px;
    color: #428E22;
    display: inline-block;
}

.ic-profile-upload a {
    display: inline-block;
}

.ic-profile-upload ul {
    border: 1px solid #428E22;
    border-radius: 40px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 0;
}

.ic-profile-upload ol {
    list-style: none;
    margin-bottom: 0;
}


.ic-profile-upload ul li {
    width: 48%;
    margin: 0;
    padding: 0;
    outline: 0;
}


.ic-apply-field form label {
    font-family: asap-semibold;
    font-size: 15px;
    color: #0A0A0A;
}



.file-type {
    overflow: hidden;
    position: relative;
    border: 1px solid #428E22;
    background: transparent;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-family: asap-regular;
    font-size: 15px;
    color: #428E22 !important;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.file-type:hover {
    border: 1px solid #428E22;
    background: #428E22;
    color: #fff !important;
}

.file-type [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* ========================= */

.ic-patient-files ul {
    list-style: none;
}

.ic-ptf-item {
    box-shadow: 0px 2px 7.68px 0.32px rgba(10, 10, 10, 0.1);
    padding: 50px 30px;
    box-sizing: border-box;
}

.ic-ptf-item h6 {
    padding: 40px 0;
}
.ic-patient-files h6 {
    font-size: 24px;
    color: #448F25;
    text-align: center;
    padding-bottom: 40px;
}



#ic-first-header .ic-patient-files label {
    position: relative;
}

.ic-ptf-item .file-type {
    background: #448F25;
    color: #fff !important;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.ic-patient-files form label {
    font-family: asap-semibold;
    font-size: 15px;
    color: #0A0A0A;
}

.ic-patient-form {
    box-shadow: 0px 2px 7.68px 0.32px rgba(10, 10, 10, 0.1);
    height: 100%;
}
.ic-patient-head {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.ic-patient-head li {
    font-family: asap-semibold;
    font-size: 15px;
    color: #999;
    padding: 15px 0;
    width: 20%;
}
.ic-patient-body h6 {
    color: #999;
    padding-top: 120px;
}


/* ========================= */


.ic-signature h6 {
    text-align: left;
    font-size: 18px;
    padding-top: 10px;
    color: #448F25;
    padding-bottom: 15px;
}

.ic-signature-inner {
    box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: 450px;
}
.ic-signature-canvas {
    position: relative;
}
.ic-signature-inner p {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: asap-regular;
    font-size: 15px;
    color: #0a0a0a;
}


.ic-signature button {
    border-radius: 30px;
    border: 0;
    padding: 12px 35px;
    font-family: asap-semibold;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(to right, #428E22 0%, #428E22 33.3333%, #496b0e 66.666667%, #496b0e 100%);
    background-size: 300% auto;
    margin-top: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ic-signature button:hover {
    background-position: right center;
}


/* =======Custom Design For Patient Question System for Admin=========== */

.question_system{}

.question_system .question_section_part h3{
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
    color: #448F25;
    padding-bottom: 15px;
    font-weight: bold;
}
.question_system .question_section_part h5{
    text-align: left;
    font-size: 14px;
    padding-top: 0px;
    color: #448F25;
    padding-bottom: 5px;
}



.question_system .question_question_part h3{
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
    color: red;
    padding-bottom: 15px;
    font-weight: bold;
}
.question_system .question_question_part h5{
    text-align: left;
    font-size: 14px;
    padding-top: 0px;
    color: red;
    padding-bottom: 5px;
}
.question_system .question_question_part h6{
    text-align: left;
    font-size: 14px;
    padding-top: 0px;
    color: red;
    padding-bottom: 5px;
}
.question_system .question_question_part p{
    text-align: left;
    font-size: 14px;
    padding-top: 0px;
    color: navy;
    padding-bottom: 5px;
}