@media (max-width: 575.98px) {

    header {
        text-align: center;
        padding: 10px 15px;
    }

    .header-brand img {
        width: 200px;
    }

    .header-info h6 {
        font-size: 10px;
        padding-top: 10px;
    }

    .navbar {
        padding: 15px;
    }

    #ic-first-header .navbar {
        padding: 10px 15px;
    }

    .navbar-brand img {
        max-width: 180px;
    }

    .navbar-light .navbar-toggler {
        color: #448F25;
        border-color: #448F25;
    }

    .navbar ul li {
        text-align: center;
    }

    #ic-first-header .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
        padding: 5px 20px;
    }

    #ic-first-header .navbar ul {
        border-top: 1px solid #fff;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    #ic-first-header .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }

    #ic-apply-form {
        padding: 60px 0;
        margin-top: 58px;
    }

    #ic-breadcumb {
        padding: 20px 0;
        margin-top: 145px;
    }

    #ic-breadcumb h3 {
        font-size: 24px;
    }

    #ic-breadcumb h6 {
        font-size: 14px;
    }

    #ic-first-header #ic-apply-form {
        padding: 60px 0;
    }

    .ic-profile-edit h2 {
        font-size: 27px;
        padding-bottom: 20px;
    }

    .ic-profile-edit h2 span {
        font-size: 18px;
    }

    .ic-profile-edit h5 {
        font-size: 17px;
    }

    #ic-first-header .ic-profile-checkbox .checktext {
        padding-left: 27px;
        font-size: 14px;
    }

    #ic-first-header .ic-profile-checkbox .checkmark {
        height: 17px;
        width: 17px;
    }

    #ic-first-header .ic-profile-checkbox .ic-checkbox .checkmark:after {
        left: 4px;
        top: -2px;
    }

    #ic-first-header .ic-profile-round-radio .checktext {
        padding-left: 27px;
        font-size: 14px;
    }

    #ic-first-header .ic-profile-round-radio .checkmark {
        top: 1px;
        height: 18px;
        width: 18px;
    }

    #ic-first-header .ic-profile-round-radio .ic-checkbox .checkmark:after {
        left: 14%;
        top: 17%;
    }

    .ic-apply-field .ic-profile-cont {
        padding: 10px 25px;
    }

    .ic-apply-field form button {
        padding: 10px 25px;
    }

    .ic-signature-inner {
        padding: 10px;
        width: 290px;
    }

    .small-btn {
        padding: 5px 20px !important;
    }

    .ic-patient-form {
        margin-top: 30px;
    }

    .ic-patient-body h6 {
        padding-top: 60px;
        font-size: 15px;
    }

    .ic-apply-txt h5 {
        font-size: 24px;
    }

    .ic-apply-txt h6 {
        font-size: 18px;
    }

    .ic-apply-notice {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ic-apply-field {
        padding-top: 40px;
    }

    footer {
        padding-top: 60px;
    }

    footer img {
        width: 90%;
    }

    .footer-logo {
        width: 250px;
    }

    .nav-tabs {
        margin-bottom: 33px;
    }

    .nav-tabs .nav-item {
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .nav-tabs .nav-link {
        padding: 10px 12px;
    }

    .cpryt p {
        line-height: 23px;
        padding: 20px 0;
    }

    @media (min-width: 480px) and (max-width: 575.98px) {
        .nav-tabs .nav-item {
            margin-right: 2px;
        }

        .nav-tabs .nav-link {
            padding: 10px 15px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .header-brand img {
        width: 200px;
    }

    .header-info h6 {
        font-size: 12px;
        padding-top: 5px;
    }

    #ic-first-header .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
        padding: 5px 20px;
    }

    #ic-first-header .navbar ul {
        border-top: 1px solid #fff;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    #ic-first-header .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }

    #ic-breadcumb {
        padding: 25px 0;
        margin-top: 130px;
    }

    #ic-breadcumb h3 {
        font-size: 24px;
    }

    #ic-breadcumb h6 {
        font-size: 14px;
    }

    #ic-first-header #ic-apply-form {
        padding: 60px 0;
    }

    .ic-profile-edit h2 {
        font-size: 27px;
        padding-bottom: 20px;
    }

    .ic-profile-edit h2 span {
        font-size: 18px;
    }

    .ic-profile-edit h5 {
        font-size: 17px;
    }

    #ic-first-header .ic-profile-checkbox .checktext {
        padding-left: 27px;
        font-size: 14px;
    }

    #ic-first-header .ic-profile-checkbox .checkmark {
        height: 17px;
        width: 17px;
    }

    #ic-first-header .ic-profile-checkbox .ic-checkbox .checkmark:after {
        left: 4px;
        top: -2px;
    }

    #ic-first-header .ic-profile-round-radio .checktext {
        padding-left: 27px;
        font-size: 14px;
    }

    #ic-first-header .ic-profile-round-radio .checkmark {
        top: 1px;
        height: 18px;
        width: 18px;
    }

    #ic-first-header .ic-profile-round-radio .ic-checkbox .checkmark:after {
        left: 14%;
        top: 17%;
    }

    .ic-patient-form {
        margin-top: 30px;
    }

    .ic-patient-body h6 {
        padding-top: 60px;
        font-size: 15px;
    }

    .ic-apply-field .ic-profile-cont {
        padding: 10px 25px;
    }

    .ic-apply-field form button {
        padding: 10px 25px;
    }

    .small-btn {
        padding: 5px 20px !important;
    }

    .navbar {
        padding: 15px;
    }

    .navbar-brand img {
        max-width: 180px;
    }

    .navbar-light .navbar-toggler {
        color: #448F25;
        border-color: #448F25;
    }

    .navbar ul li {
        text-align: center;
    }

    #ic-apply-form {
        padding: 60px 0;
        margin-top: 58px;
    }

    .ic-apply-txt h5 {
        font-size: 24px;
    }

    .ic-apply-txt h6 {
        font-size: 18px;
    }

    .ic-apply-notice {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ic-apply-field {
        padding-top: 40px;
    }

    footer {
        padding-top: 60px;
    }

    footer img {
        width: 70%;
    }

    .footer-logo {
        width: 250px;
    }

    .cpryt p {
        line-height: 23px;
        padding: 20px 0;
    }

    .nav-tabs .nav-item {
        margin-right: 2px;
    }

    .nav-tabs .nav-link {
        padding: 10px 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-brand img {
        width: 200px;
    }

    .header-info h6 {
        font-size: 12px;
        padding-top: 5px;
    }

    #ic-first-header .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
        padding: 5px 20px;
    }

    #ic-first-header .navbar ul {
        border-top: 1px solid #fff;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    #ic-first-header .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }

    #ic-breadcumb {
        padding: 25px 0;
        margin-top: 130px;
    }

    #ic-breadcumb h3 {
        font-size: 26px;
    }

    #ic-breadcumb h6 {
        font-size: 14px;
    }

    #ic-first-header #ic-apply-form {
        padding: 60px 0;
    }

    .ic-profile-edit h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .ic-profile-edit h2 span {
        font-size: 18px;
    }

    .ic-profile-edit h5 {
        font-size: 17px;
    }

    #ic-first-header .ic-profile-checkbox .checktext {
        padding-left: 27px;
        font-size: 14px;
    }

    #ic-first-header .ic-profile-checkbox .checkmark {
        height: 17px;
        width: 17px;
    }

    #ic-first-header .ic-profile-checkbox .ic-checkbox .checkmark:after {
        left: 4px;
        top: -2px;
    }

    #ic-first-header .ic-profile-round-radio .checktext {
        padding-left: 27px;
        font-size: 14px;
    }

    #ic-first-header .ic-profile-round-radio .checkmark {
        top: 1px;
        height: 18px;
        width: 18px;
    }

    #ic-first-header .ic-profile-round-radio .ic-checkbox .checkmark:after {
        left: 14%;
        top: 17%;
    }

    .ic-patient-body h6 {
        padding-top: 60px;
        font-size: 15px;
    }

    .ic-apply-field .ic-profile-cont {
        padding: 10px 25px;
    }

    .ic-apply-field form button {
        padding: 10px 25px;
    }

    .navbar {
        padding: 15px;
    }

    .navbar-brand img {
        max-width: 180px;
    }

    .navbar-light .navbar-toggler {
        color: #448F25;
        border-color: #448F25;
    }

    .navbar ul li {
        text-align: center;
    }

    #ic-apply-form {
        padding: 60px 0;
        margin-top: 58px;
    }

    .ic-apply-txt h5 {
        font-size: 24px;
    }

    .ic-apply-txt h6 {
        font-size: 18px;
    }

    .ic-apply-notice {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ic-apply-field {
        padding-top: 40px;
    }

    footer {
        padding-top: 60px;
    }

    footer img {
        width: 70%;
    }

    .footer-logo {
        width: 250px;
    }

    .cpryt p {
        line-height: 23px;
        padding: 20px 0;
    }

    .nav-tabs .nav-item {
        margin-right: 15px;
    }

    .nav-tabs .nav-link {
        padding: 10px 20px;
    }
}

@media (min-width: 991px) and (max-width: 1199.98px) {

    .header-info h6 {
        font-size: 18px;
        padding-top: 5px;
    }

    #ic-first-header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 18px;
    }

    .nav-tabs li {
        margin-right: 15px;
    }

    .nav-tabs .nav-link {
        padding: 10px 13px;
    }

    .ic-profile-upload {
        padding: 20px;
    }
}