* {
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-bottom: 0;
}

img {
    vertical-align: middle;
}

a,
a:hover {
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;
    outline: 0;
}

button:focus {
    box-shadow: none;
    outline: 0;
}

span,
a {
    display: inline-block;
}

@font-face {
    src: url(../fonts/Roboto-Black.ttf);
    font-family: robo-black;
}

@font-face {
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: robo-bold;
}

@font-face {
    src: url(../fonts/Roboto-Medium.ttf);
    font-family: robo-medium;
}

@font-face {
    src: url(../fonts/Asap-Bold.ttf);
    font-family: asap-bold;
}

@font-face {
    src: url(../fonts/Asap-SemiBold.ttf);
    font-family: asap-semibold;
}

@font-face {
    src: url(../fonts/Asap-Regular.ttf);
    font-family: asap-regular;
}

p {
    font-family: asap-regular;
    color: #0A0A0A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: robo-bold;
    color: #0A0A0A;
}

/* ===== Header Part CSS Start ===== */

#header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

header {
    background-color: rgb(246, 246, 246);
    padding: 15px;
    border-top: 4px solid #5B931D;
}

.header-info h6 {
    font-family: robo-bold;
    font-size: 21px;
    color: #428E22;
}

.navbar {
    background: #428E22;
    padding: 10px 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: robo-medium;
    font-size: 15px;
    color: #fff;
    padding: 0 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f055";
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    font-size: 12px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before {
    transform: translateX(-50%) scale(1);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.profile a {
    font-family: robo-medium;
    font-size: 15px;
    color: #fff;
}

.profile a img {
    padding-right: 5px;
}

#ic-second-header .navbar {
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 4px 14.72px 1.28px rgba(32, 32, 32, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

#ic-second-header .navbar-expand-lg .navbar-nav .nav-link {
    font-family: robo-medium;
    font-size: 18px;
    color: #428E22;
    line-height: 50px;
}

#ic-second-header .navbar-expand-lg .navbar-nav .nav-link i {
    font-size: 15px;
    padding-right: 5px;
}

/* ===== Header Part CSS End ===== */

/* ===== Breadcumb Part CSS Start ===== */

#ic-breadcumb {
    background-color: rgb(246, 246, 246);
    padding: 30px 0;
    margin-top: 130px;
}

#ic-breadcumb h3 {
    font-family: robo-black;
    font-size: 32px;
    color: #428E22;
    padding-bottom: 5px;
}

#ic-breadcumb h6 {
    font-family: robo-bold;
    font-size: 21px;
    color: #799A18;
}

#ic-breadcumb h6 a {
    color: #799A18;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#ic-breadcumb h6 a:hover {
    color: #428E22;
}

/* ===== Breadcumb Part CSS End ===== */

/* ===== Application Form Part CSS Start ===== */

#ic-first-header #ic-apply-form {
    padding: 80px 0;
    margin-top: 0;
}

#ic-apply-form {
    padding: 80px 0;
    margin-top: 80px;
}

.ic-apply-txt h5 {
    font-size: 30px;
    margin-bottom: 15px;
}

.ic-green {
    color: #448F25;
}

.ic-sky {
    color: #00BFF3;
}

.ic-apply-txt h6 {
    font-size: 24px;
    color: #799A18;
}

.ic-apply-notice {
    background: #448F25;
    padding: 20px 0;
    margin-top: 40px;
}

.ic-apply-notice h6 {
    color: #fff;
    padding: 5px 0;
}

.ic-apply-field {
    padding-top: 80px;
}

#ic-first-header .ic-apply-field {
    padding: 0;
}

#ic-first-header .ic-apply-field label {
    position: relative;
}

#ic-first-header .ic-required {
    position: absolute;
    font-size: 15px;
    color: red;
    top: 0;
    right: -5px;
}

#ic-first-header .ic-profile-radio .checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    background-color: #eee;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#ic-first-header .ic-profile-radio .checktext {
    padding-left: 66px;
    padding-top: 10px;
    font-family: asap-semibold;
    font-size: 18px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#ic-first-header .ic-profile-radio .ic-checkbox input:checked~.checkmark {
    background-color: #448F25;
}

#ic-first-header .ic-profile-radio .ic-checkbox input:checked~.checktext {
    color: #448F25;
}

/* Create the checkmark/indicator (hidden when not checked) */
#ic-first-header .ic-profile-radio .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

/* Show the checkmark when checked */
#ic-first-header .ic-profile-radio .ic-checkbox input:checked~.checkmark:after {
    opacity: 1;
}

/* Style the checkmark/indicator */
#ic-first-header .ic-profile-radio .ic-checkbox .checkmark:after {
    left: 20px;
    top: 10px;
    width: 10px;
    height: 25px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ic-apply-field h6 {
    font-size: 24px;
    color: #448F25;
    text-align: center;
    padding-bottom: 40px;
}

.ic-profile-edit h2 {
    font-family: robo-black;
    font-size: 36px;
    color: #448F25;
    padding-bottom: 30px;
}

.ic-profile-edit h2 i {
    padding-right: 5px;
}

.ic-profile-edit h5 {
    font-family: robo-black;
    font-size: 21px;
    color: #448F25;
    padding-bottom: 10px;
}

.ic-profile-edit h2 span {
    font-family: robo-medium;
    font-size: 34px;
    color: #799B3E;
}

.ic-profile-edit h5 span {
    font-size: 18px;
}

.ic-profile-edit p {
    font-family: asap-regular;
    font-size: 15px;
    color: #0a0a0a;
    padding-bottom: 20px;
}

.ic-apply-field form label {
    font-family: asap-semibold;
    font-size: 15px;
    color: #0A0A0A;
}

.ic-apply-field form .form-control {
    border-radius: 0;
    border: 0;
    box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.1);
    padding: 25px 15px;
    font-family: asap-regular;
    font-size: 15px;
    margin-bottom: 20px;
}

.ic-apply-field form textarea {
    height: 200px;
    resize: none;
}

.ic-sig-notice {
    background: #428E22;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.ic-sig-notice p {
    font-size: 15px;
    color: #fff;
    line-height: 24px;
    padding-bottom: 0;
}

.ic-apply-field form select {
    width: 100%;
    border: 0;
    box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 0 15px;
    font-family: asap-regular;
    font-size: 15px;
    color: #999;
    margin-bottom: 20px;
}

.ic-apply-field form input::placeholder {
    color: #999999;
}

.ic-apply-field form button {
    border-radius: 30px;
    border: 0;
    padding: 12px 35px;
    font-family: asap-semibold;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(to right, #428E22 0%, #428E22 33.3333%, #496b0e 66.666667%, #496b0e 100%);
    background-size: 300% auto;
    margin-top: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ic-apply-field form button:hover {
    background-position: right center;
}

#ic-first-header .ic-profile-checkbox .checkmark {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 2px solid #999999;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#ic-first-header .ic-profile-checkbox .checktext {
    padding-left: 40px;
    font-family: asap-regular;
    color: #999;
    font-size: 18px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#ic-first-header .ic-profile-checkbox .ic-checkbox input:checked~.checkmark {
    background-color: #448F25;
    border-color: #448F25;
}

#ic-first-header .ic-profile-checkbox .ic-checkbox input:checked~.checktext {
    color: #448F25;
}

/* Create the checkmark/indicator (hidden when not checked) */
#ic-first-header .ic-profile-checkbox .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

/* Show the checkmark when checked */
#ic-first-header .ic-profile-checkbox .ic-checkbox input:checked~.checkmark:after {
    opacity: 1;
}

/* Style the checkmark/indicator */
#ic-first-header .ic-profile-checkbox .ic-checkbox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ic-profile-checkbox {
    margin-bottom: 20px;
}

#ic-first-header .ic-profile-round-radio .checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #999;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#ic-first-header .ic-profile-round-radio .checktext {
    padding-left: 35px;
    font-family: asap-regular;
    color: #999;
    font-size: 18px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#ic-first-header .ic-profile-round-radio .ic-checkbox input:checked~.checkmark {
    background-color: #448F25;
    border-color: #448F25;
}

#ic-first-header .ic-profile-round-radio .ic-checkbox input:checked~.checktext {
    color: #448F25;
}

/* Create the checkmark/indicator (hidden when not checked) */
#ic-first-header .ic-profile-round-radio .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

/* Show the checkmark when checked */
#ic-first-header .ic-profile-round-radio .ic-checkbox input:checked~.checkmark:after {
    opacity: 1;
}

/* Style the checkmark/indicator */
#ic-first-header .ic-profile-round-radio .ic-checkbox .checkmark:after {
    left: 29%;
    top: 27%;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}

.ic-profile-round-radio .ic-checkbox {
    margin-top: 7px;
}

.ic-profile-back {
    font-family: asap-semibold;
    font-size: 18px;
    color: #799B3E;
    margin-right: 30px;
    position: relative;
}

.ic-profile-back:hover {
    color: #799B3E;
}

.ic-profile-back i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ic-profile-back:hover i {
    left: -30px;
}

.ic-apply-field .ic-profile-cont {
    border-radius: 30px;
    border: 0;
    padding: 12px 35px;
    font-family: asap-semibold;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(to right, #428E22 0%, #428E22 33.3333%, #496b0e 66.666667%, #496b0e 100%);
    background-size: 300% auto;
    margin-top: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ic-apply-field .ic-profile-cont:hover {
    background-position: right center;
}

.file-type {
    overflow: hidden;
    position: relative;
    border: 1px solid #428E22;
    background: transparent;
    display: block;
    text-align: center;
    padding: 13px 0;
    font-family: asap-regular;
    font-size: 15px;
    color: #428E22 !important;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.file-type:hover {
    border: 1px solid #428E22;
    background: #428E22;
    color: #fff !important;
}

.file-type [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.ic-profile-upload {
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 2px 7.68px 0.32px rgba(10, 10, 10, 0.1);
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.ic-profile-upload span {
    font-family: robo-bold;
    font-size: 18px;
    color: #428E22
}

.ic-profile-upload ul {
    border: 1px solid #428E22;
    border-radius: 40px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;
}

.ic-profile-upload ul li {
    width: 48%;
}

.ic-profile-upload ul li:first-child {
    margin-right: 10px;
}

.ic-ptf-item {
    box-shadow: 0px 2px 7.68px 0.32px rgba(10, 10, 10, 0.1);
    padding: 50px 30px;
    box-sizing: border-box;
}

.ic-ptf-item h6 {
    padding: 40px 0;
}

.ic-ptf-item .file-type {
    background: #448F25;
    color: #fff !important;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.ic-ptf-item .file-type:hover {
    background: transparent;
    color: #448F25 !important;
}

.ic-patient-form {
    box-shadow: 0px 2px 7.68px 0.32px rgba(10, 10, 10, 0.1);
    height: 100%;
}

.ic-patient-head {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.ic-patient-head li {
    font-family: asap-semibold;
    font-size: 15px;
    color: #999;
    padding: 15px 0;
    width: 20%;
}

.ic-patient-head li:nth-child(2) {
    width: 60%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.ic-patient-body h6 {
    color: #999;
    padding-top: 120px;
}

.ic-yes-no {
    display: flex;
}

.ic-yes-no li {
    margin-right: 30px;
}

.ic-yes-no li:last-child {
    margin-right: 0;
}

.ic-signature h6 {
    text-align: left;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.ic-signature-inner {
    box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: 450px;
}

.ic-signature-inner canvas {
    background: #FCFCFC;
    width:410px;
    height:150px;
}

.ic-signature-inner p {
    padding-top: 5px;
    padding-bottom: 10px;
}

.ic-signature-canvas {
    position: relative;
}

.ic-signature-canvas span {
    position: absolute;
    font-family: asap-regular;
    font-size: 15px;
    color: #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-btn {
    padding: 8px 25px !important;
    background: transparent !important;
    border: 1px solid #428E22 !important;
    color: #428E22 !important;
    margin-top: 5px !important;
}

.small-btn:hover {
    background: #428E22 !important;
    border: 1px solid #428E22 !important;
    color: #fff !important;
}

/* ===== Application Form Part CSS End ===== */

/* ===== Footer Part CSS Start ===== */

footer {
    background: linear-gradient(to right, #428E22, #799b3e);
    padding-top: 80px;
}

.footer-content {
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}

.footer-inner-content p {
    font-size: 15px;
    color: #fff;
    line-height: 26px;
    padding: 35px 0;
}

.cpryt p {
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    padding: 30px 0;
}

.cpryt p a img {
    width: 55px;
}

/* ===== Footer Part CSS End ===== */

/* ===== Sign-in Page CSS Start ===== */

.nav-tabs {
    border-bottom: 0;
    justify-content: center;
    margin-bottom: 40px;
}

.tab-pane.active {
    animation: slide-down .4s ease-in-out;
}

@keyframes slide-down {
    0% {
        /* visibility: hidden; */
        transform: scaleY(0);
        transform-origin: center top 0;
    }

    100% {
        /* visibility: visible; */
        transform: scaleY(1);
        transform-origin: center top 0;
    }
}

.nav-tabs li {
    margin-right: 20px;
}

.nav-tabs li:last-child {
    margin-right: 0;
}

.nav-tabs .nav-link {
    border: 1px solid #448F25;
    border-radius: 5px;
    font-family: robo-medium;
    font-size: 15px;
    color: #448F25;
    padding: 10px 27px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.nav-tabs .nav-link:hover {
    color: #448F25;
    background-color: #fff;
    border-color: #448F25;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #448F25;
    border-color: #448F25;
}

.ic-checkbox {
    cursor: pointer;
}

.ic-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 15px;
    height: 17px;
    width: 17px;
    background-color: #eee;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

/* When the checkbox is checked, add a blue background */
.ic-checkbox input:checked~.checkmark {
    background-color: #448F25;
}

.ic-checkbox input:checked~.checktext {
    color: #448F25;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

/* Show the checkmark when checked */
.ic-checkbox input:checked~.checkmark:after {
    opacity: 1;
}

/* Style the checkmark/indicator */
.ic-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checktext {
    padding-left: 25px;
    font-family: asap-regular;
    font-size: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.forgot {
    font-family: asap-regular;
    font-size: 15px;
    color: #0a0a0a;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.forgot:hover {
    color: #448F25;
}

.ic-sign-btn {
    width: 100%;
    border-radius: 5px !important;
    margin-top: 10px;
    font-family: asap-regular !important;
    font-size: 15px !important;
}

/* ===== Sign-in Page CSS End ===== */