<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li>
                <li>Admin</li>
                <li>Admin Profile</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-fw "></i> 
								Admin 
							<span>> 
								Admin Profile                                
							</span>
						</h1>
                        <p>{{ user.email }}</p>
                </div>
            </div>


            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Basic Form Elements </h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <form class="smart-form">
                                        <header>
                                            Standard Form Header
                                        </header>


                                        <fieldset>

                                            <section>
                                                <label class="label">Name</label>
                                                <label class="input">
                                                    <input type="text" name="name" class="input-sm">
                                                </label>
                                            </section>

                                            <section>
                                                <label class="label">Email</label>
                                                <label class="input">
                                                    <input type="email" name="email" class="input-sm">
                                                </label>
                                            </section>
                                            
                                            <section>
                                                <label class="label">Username</label>
                                                <label class="input">
                                                    <input type="text" name="username" class="input-sm">
                                                </label>
                                            </section>

                                            <section>
                                                <label class="label">Phone</label>
                                                <label class="input">
                                                    <input type="text" name="phone" class="input-sm">
                                                </label>
                                            </section>

                                            <section>
                                                <label class="label">Website</label>
                                                <label class="input">
                                                    <input type="text" name="website" class="input-sm">
                                                </label>
                                            </section>

                                            <section>
                                                <label class="select">
                                                <select name="country">
                                                    <option value="0" selected="" disabled="">Country</option>
                                                    <option value="1">January</option>
                                                    <option value="1">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select> <i></i> </label>
                                            </section>

                                            <section>
                                                <label class="select">
                                                <select name="state">
                                                    <option value="0" selected="" disabled="">State</option>
                                                    <option value="1">January</option>
                                                    <option value="1">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select> <i></i> </label>
                                            </section>

                                            <section>
                                                <label class="select">
                                                <select name="city">
                                                    <option value="0" selected="" disabled="">City</option>
                                                    <option value="1">January</option>
                                                    <option value="1">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select> <i></i> </label>
                                            </section>

                                            <section>
                                                <label class="label">Address</label> 
                                                <label class="textarea">
                                                    <textarea name="address" rows="3" class="custom-scroll"></textarea>
                                                </label> 
                                                <div class="note"><strong>Note:</strong> height of the textarea depends on the rows attribute.
                                                </div>
                                            </section>

                                            <section>
                                                <label class="select">
                                                <select name="timezone">
                                                    <option value="0" selected="" disabled="">Timezone</option>
                                                    <option value="1">January</option>
                                                    <option value="1">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select> <i></i> </label>
                                            </section>


                                            <section>
                                                <label class="label">Post Code</label>
                                                <label class="input">
                                                    <input type="text" name="post_code" class="input-sm">
                                                </label>
                                            </section>

                                            
                                            <section>
                                                <label class="label">Reg No.</label>
                                                <label class="input">
                                                    <input type="text" name="reg_no" class="input-sm">
                                                </label>
                                            </section>


                                            <section>
                                                <label class="label">Profile</label> 
                                                <label class="textarea">
                                                    <textarea name="profile" rows="3" class="custom-scroll"></textarea>
                                                </label> 
                                                <div class="note"><strong>Note:</strong> height of the textarea depends on the rows attribute.
                                                </div>
                                            </section>

                                            <section>
                                                <label class="label">File input</label>
                                                <div class="input input-file">
                                                    <span class="button"><input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span>
                                                    <input type="text" placeholder="Include some files" readonly="">
                                                </div>
                                            </section>


                                        </fieldset>

                                        <footer>
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                Back
                                            </button>
                                        </footer>
                                    </form>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- END COL -->



                </div>

                <!-- END ROW -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

</template>

<script>
export default {
   props : ['user']
}
</script>
