<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span> 
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li><li>Patient</li><li>All Patient</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
            ribbon for further usability

            Example below:

            <span class="ribbon-button-alignment pull-right">
            <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
            <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
            </span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-table fa-fw "></i> 
                            Patient
                        <span>> 
                            All Patient
                        </span>
                    </h1>
                </div>
            </div>
            
            <!-- widget grid -->
            <section id="widget-grid" class="">
            
                <!-- row -->
                <div class="row">
            
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            
                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"
            
                            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>All Patient Table</h2>            
                            </header>

                            <h3 style="text-align:center" v-if="success.msg">
                                {{ success.msg }}
                            </h3>
            
                            <!-- widget div-->
                            <div>
            
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
            
                                </div>
                                <!-- end widget edit box -->
            
                                <!-- widget content -->
                                <div class="widget-body no-padding">
            
                                    <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th data-hide="phone">SL </th>
                                                <th data-class="expand">Photo </th>
                                                <th data-class="expand">Name </th>
                                                <th data-class="expand">Location </th>
                                                <th data-class="expand">Physician </th>
                                                <th data-class="expand">City </th>
                                                <th data-class="expand">Zip </th>
                                                <th data-class="expand">Init:visit </th>                                                
                                                <th data-class="expand">Expires </th>
                                                <th data-class="expand">State ID </th>
                                                <th data-class="expand">DOB </th>
                                                <th data-class="expand">Email </th>
                                                <th data-hide="phone">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="patient,key in patients">
                                                <td>{{ key+1 }}</td>
                                                <td v-if="patient.patient_photo_id">
                                                    <img :src="'storage/images/'+patient.patient_photo_id" alt="" class="patient_id">
                                                </td>
                                                <td v-else>
                                                    <img :src="'storage/images/demo-patient.png'" alt="" class="patient_id">
                                                </td>
                                                <td>{{ patient.f_name }} {{ patient.l_name }}</td>
                                                <td>{{ patient.clinic_name }}</td>
                                                <td>{{ patient.physician_name }}</td>
                                                <td>{{ patient.city_name }}</td>
                                                <td>{{ patient.zip_code }}</td>
                                                <td>{{ patient.initial_visit }}</td>
                                                <td>{{ patient.expiration }}</td>
                                                <td>{{ patient.state_id }}</td>
                                                <td>{{ patient.dob }}</td>
                                                <td>{{ patient.email }}</td>
                                                <td>                                                                                                        
                                                    <button type="button" class="btn btn-info">Pending</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- end widget content -->
            
                            </div>
                            <!-- end widget div -->
            
                        </div>
                        <!-- end widget -->
            
                    </article>
                    <!-- WIDGET END -->
            
                </div>
            
                <!-- end row -->
            
            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->
</template>


<script>
export default {

    data() {
        return {
            errors: {},
            success: {},
            patients: {},
        }
    },

    methods: {
        getAllPatients() {
            axios.post('/getAllPatients')
            .then((response)=> {
                this.patients = this.temp = response.data
                console.log(response)
            })
            .catch((error)=> {
                // this.errors = error.response.data.errors
                console.log(error.response.data.errors)
            })
        }

    },

    mounted() {
        this.getAllPatients();
    }

}
</script>