<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li>
                <li>Admin</li>
                <li>Admin Profile</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-fw "></i> 
								Locations 
							<span>> 
								Add Location                                
							</span>
						</h1>
                </div>
            </div>


            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Add location form</h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="smart-form">
                                    <!-- <form action="" method="POST" class="smart-form"> -->

                                        <header v-if="success.msg">
                                            {{ success.msg }}
                                        </header>

                                        <!-- <input type="hidden" name="_token" :value="csrf"> -->
                                        <input type="hidden" name="admin_id" value="2" v-model="list.admin_id" class="input-sm">

                                        <fieldset>

                                            <section>
                                                <label class="label">Clinic Name</label>
                                                <label class="input">
                                                    <input type="text" name="clinic_name" v-model="list.clinic_name" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.clinic_name">{{ errors.clinic_name['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Email</label>
                                                <label class="input">
                                                    <input type="email" name="email" v-model="list.email" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.email">{{ errors.email['0'] }}</p>
                                            </section>
                                            
                                            <section>
                                                <label class="label">Password</label>
                                                <label class="input">
                                                    <input type="password" name="password" v-model="list.password" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.password">{{ errors.password['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Phone</label>
                                                <label class="input">
                                                    <input type="text" name="phone" v-model="list.phone" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.phone">{{ errors.phone['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Website</label>
                                                <label class="input">
                                                    <input type="text" name="website" v-model="list.website" class="input-sm">
                                                </label>                                                
                                            </section>

                                            <section>
                                                <label class="select">Country
                                                <select name="country" v-model="list.country" @change="getState()">
                                                    <!-- <option value="0" selected="" disabled="">Country</option> -->
                                                    <option v-for='country in countries' :value='country.id'>{{ country.country_name }}</option>
                                                </select> <i style="top:31px !important;"></i>
                                                </label>
                                            </section>

                                            <section>
                                                <label class="select">State
                                                <select name="state" v-model="list.state" @change="getCity()">
                                                    <!-- <option value="0" selected="" disabled="">State</option> -->
                                                    <option v-for="state in states" :value="state.id">{{ state.state_name }}</option>
                                                </select> <i style="top:31px !important;"></i>
                                                </label>
                                            </section>

                                            <section>
                                                <label class="select">City
                                                <select name="city" v-model="list.city">
                                                    <!-- <option value="0" selected="" disabled="">City</option> -->
                                                    <option v-for="city in cities" :value="city.id">{{ city.city_name }}</option>
                                                </select> <i style="top:31px !important;"></i> 
                                                </label>
                                            </section>

                                            <section>
                                                <label class="label">Address</label> 
                                                <label class="textarea">
                                                    <textarea name="address" v-model="list.address" rows="3" class="custom-scroll"></textarea>
                                                </label> 
                                                <p class="text-danger" v-if="errors.address">{{ errors.address['0'] }}</p>
                                            </section>


                                            <section>
                                                <label class="label">Post Code</label>
                                                <label class="input">
                                                    <input type="text" name="post_code" v-model="list.post_code" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.post_code">{{ errors.post_code['0'] }}</p>
                                            </section>


                                            <section>
                                                <label class="label">EIN</label>
                                                <label class="input">
                                                    <input type="text" name="controlled_license" v-model="list.controlled_license" class="input-sm">
                                                </label>
                                            </section>

                                            
                                            <section>
                                                <label class="label">Business Lic</label>
                                                <label class="input">
                                                    <input type="text" name="reg_no" v-model="list.reg_no" class="input-sm">
                                                </label>
                                            </section>


                                            <section>
                                                <label class="label">Profile</label> 
                                                <label class="textarea">
                                                    <textarea name="profile" v-model="list.profile" rows="3" class="custom-scroll"></textarea>
                                                </label> 
                                                <div class="note"><strong>Note:</strong> height of the textarea depends on the rows attribute.
                                                </div>
                                            </section>

                                        </fieldset>

                                        <footer>
                                            <button type="submit" @click="save" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                Back
                                            </button>
                                        </footer>
                                    <!-- </form> -->
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- END COL -->



                </div>

                <!-- END ROW -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

</template>

<script>
export default {
   props : ['user'],

    data() {
        return {
            list:{
                admin_id: '2',
                clinic_name: '',
                email: '',
                password: '',
                phone: '',
                website: '',
                country: '',
                state: '',
                city: '',
                address: '',
                post_code: '',
                controlled_license: '',
                reg_no: '',
                profile: '',
            },
            errors:{},
            success:{},
            countries:{},
            states:{},
            cities:{}
            
        }
    },

    methods: {
        save() {
            axios.post('/location',this.$data.list).then((response) => {
                // console.log(response)
                this.list    =   ''
                this.success = response.data
                this.errors  = ''
            })
            .catch((error) => this.errors =  error.response.data.errors)
        },
        getLocation() {
            axios.post('/getLocation')
            .then((response)=> this.locations = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },
        getCountry() {
            axios.post('/getCountry')
            .then((response)=> this.countries = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },
        getState() {
            axios.post(`/getState/${this.list.country}`)
            .then((response)=> this.states = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },
        getCity() {
            axios.post(`/getCity/${this.list.state}`)
            .then((response)=> this.cities = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        }
    },
    mounted() {
        this.getCountry();
    }



}
</script>
