<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li>
                <li>Basic Setup</li>
                <li>Module Wise Role Add</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-fw "></i> 
								Module
							<span>> 
								Module Wise Role Add                                
							</span>
						</h1>
                </div>
            </div>


            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Add Module Wise Role form</h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="smart-form">
                                    <!-- <form action="" method="POST" class="smart-form"> -->

                                        <header v-if="success.msg">
                                            {{ success.msg }}
                                        </header>

                                        <fieldset>
                                            <section>
                                                <label class="select">Module
                                                <select name="module_id" v-model="list.module_id">
                                                    <!-- <option value="0" selected="" disabled="">Module</option> -->
                                                    <option v-for="item in items" :value="item.id">
                                                        {{ item.module_name }}
                                                    </option>
                                                </select>
                                                <i style="top:31px !important;"></i>
                                                </label>
                                                <p class="text-danger" v-if="errors.module_id">{{ errors.module_id['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Role Name</label>
                                                <label class="input">
                                                    <input type="text" name="role_name" v-model="list.role_name" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.role_name">{{ errors.role_name['0'] }}</p>
                                            </section>
                                        </fieldset>

                                        <footer>
                                            <button type="submit" @click="save" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                Back
                                            </button>
                                        </footer>
                                    <!-- </form> -->
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- END COL -->



                </div>

                <!-- END ROW -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

</template>

<script>
export default {
   props : ['user'],

    data() {
        return {
            list:{
                module_id: '',
                role_name: ''
            },
            items:{},
            errors:{},
            success:{},
            
        }
    },
    mounted(){
        axios.post('/getModule')
        .then((response)=> this.items = this.temp = response.data)
        .catch((error)=> this.errors = error.response.data.errors)
    },

    methods: {
        save() {
            axios.post('/modulewiserole',this.$data.list).then((response) => {
                this.list    =   ''
                this.success = response.data
                this.errors  = ''
            })
            .catch((error) => this.errors = error.response.data.errors)
            
        }
    }



}
</script>
