<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span> 
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li><li>Patient Setting</li><li>Patient Question Data Tables</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
            ribbon for further usability

            Example below:

            <span class="ribbon-button-alignment pull-right">
            <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
            <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
            </span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-table fa-fw "></i> 
                            Patient Setting
                        <span>> 
                            Question Tables
                        </span>
                    </h1>
                </div>
            </div>
            
            <!-- widget grid -->
            <section id="widget-grid" class="">
            
                <!-- row -->
                <div class="row">
            
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            
                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"
            
                            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>Patient Question Data Tables </h2>            
                            </header>

                            <h3 style="text-align:center" v-if="success.msg">
                                {{ success.msg }}
                            </h3>
            
                            <!-- widget div-->
                            <div>
            
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
            
                                </div>
                                <!-- end widget edit box -->
            
                                <!-- widget content -->
                                <div class="widget-body no-padding">
            
                                    <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>			                
                                            <tr>
                                                <th data-hide="phone">SL</th>
                                                <th data-class="expand">Section</th>
                                                <th data-class="expand">Q:Type </th>
                                                <th data-class="expand">Question </th>
                                                <!-- <th data-class="expand">Option </th> -->
                                                <th data-hide="phone">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="question,key in questions">
                                                <td>{{ key+1 }}</td>
                                                <td>{{ question.section_title }}</td>
                                                <td v-if="question.question_type == 1">Checkbox</td>
                                                <td v-else-if="question.question_type == 2">Input Field</td>
                                                <td v-else="question.question_type == 3">Radio Button</td>
                                                <td>{{ question.question }}</td>                                                
                                                <td>                                                    
                                                    <router-link to="/PatientQuestionView" v-bind:questionid="question.id" class="btn btn-info">View</router-link>
                                                    <button type="button" class="btn btn-danger" @click="del(key,question.id)">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- end widget content -->
            
                            </div>
                            <!-- end widget div -->
            
                        </div>
                        <!-- end widget -->
            
                    </article>
                    <!-- WIDGET END -->
            
                </div>
            
                <!-- end row -->
            
            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->
</template>


<script>
export default {

    data() {
        return {
            errors: {},
            success: {},
            questions: {},
            sections: {}
        }
    },

    methods: {
        getQuestion() {
            axios.get('/question')
            .then((response)=> {
                this.questions = this.temp = response.data
                console.log(response)
            })
            .catch((error)=> {
                // this.errors = error.response.data.errors
                console.log(error.response.data.errors)
            })
        },
        getSections() {
            axios.get('/qsection')
            .then((response)=> {
                this.sections = this.temp = response.data
            })
            .catch((error)=> this.errors = error.response.data.errors)
        },
        del(key,id) {
            if(confirm("Are you sure..?")) {
                axios.delete(`/question/${id}`)
                .then((response)=> {
                    this.questions.splice(key,1)
                    this.success = response.data
                    // console.log(response)
                })
                .catch((error) => {
                    this.errors = error.response.data.errors
                    // console.log(error.response.data.errors)
                })
            }
        }

    },

    mounted() {
        this.getQuestion();
        this.getSections();
    }

}
</script>