<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li>
                <li>Patient Setting</li>
                <li>Add Section</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-fw "></i> 
								Patient Setting 
							<span>> 
								Add Section                                
							</span>
						</h1>                        
                </div>
            </div>


            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Add Section form</h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <!-- <form action="" method="POST" class="smart-form"> -->
                                    <div class="smart-form">

                                        <header v-if="success.msg">
                                            {{ success.msg }}
                                        </header>

                                       <fieldset>
                                            <section>
                                                <label class="label">Section Title</label>
                                                <label class="input">
                                                    <input type="text" name="title" v-model="list.title" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.title">{{ errors.title['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Section Sub-Title</label>
                                                <label class="input">
                                                    <input type="text" name="sub_title" v-model="list.sub_title" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.sub_title">{{ errors.sub_title['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Description</label>
                                                <label class="input">
                                                    <input type="text" name="description" v-model="list.description" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.description">{{ errors.description['0'] }}</p>
                                            </section>

                                            
                                            <section>
                                                <label class="select">Placement Step
                                                <select name="placement_step" v-model="list.placement_step">
                                                    <option value="0" selected="" disabled="">Placement Step</option>                                                    
                                                    <option value="1">Placement Step 1</option>                                                    
                                                    <option value="2">Placement Step 2</option>                                                    
                                                </select>
                                                <i style="top:31px !important;"></i>
                                                </label>
                                                <p class="text-danger" v-if="errors.placement_step">{{ errors.placement_step['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="select">Placement Order
                                                <select name="placement_order" v-model="list.placement_order">
                                                    <option value="0" selected="" disabled="">Placement Order</option>                                                    
                                                    <option value="1">Placement Order 1</option>                                                    
                                                    <option value="2">Placement Order 2</option>                                                    
                                                </select>
                                                <i style="top:31px !important;"></i>
                                                </label>
                                                <p class="text-danger" v-if="errors.placement_order">{{ errors.placement_order['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Is Required ?</label>
                                                <div class="row">
                                                    <div class="col col-4">
                                                        <label class="radio">
                                                            <input type="radio" name="is_required" v-model="list.is_required" value="1">
                                                            <i></i>Yes</label>
                                                        <label class="radio">
                                                            <input type="radio" name="is_required" v-model="list.is_required" value="0" checked="checked">
                                                            <i></i>No</label>
                                                            <p class="text-danger" v-if="errors.is_required">{{ errors.is_required['0'] }}</p>
                                                    </div>                                                    
                                                </div>
                                            </section>                             
                                        </fieldset>

                                        <footer>
                                            <button type="submit" @click="save" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                Back
                                            </button>
                                        </footer>
                                    <!-- </form> -->
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- END COL -->



                </div>

                <!-- END ROW -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

</template>

<script>
export default {
   props : ['user'],

    data() {
        return {
            list:{
                title: '',
                sub_title: '',
                description: '',
                placement_step: '',
                placement_order: '',
                is_required: ''
            },
            errors:{},
            success:{},
        }
    },
    methods: {
        save() {
            axios.post('/qsection',this.$data.list).then((response) => {
                this.list    =   ''
                this.success =   response.data
                this.errors  =   ''
                // console.log(response)
            })
            .catch((error) => this.errors = error.response.data.errors)
        }
    }



}
</script>
