<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li>
                <li>Patient</li>
                <li>Patient Add</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-fw "></i> 
								Patient 
							<span>> 
								Add Patient                                
							</span>
						</h1>
                </div>
            </div>


            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Add Patient form</h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="smart-form">
                                    <!-- <form action="" method="POST" class="smart-form"> -->

                                        <header v-if="success.msg" class="admin_success_msg">
                                            {{ success.msg }}
                                        </header>


                                        <header>
                                            Patient General Information
                                        </header>
                                        
                                        <input type="hidden" name="admin_id" value="2" v-model="list.admin_id" class="input-sm">

                                        <fieldset>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="select">Clinic/Location
                                                        <select name="location_id" v-model="list.location_id" @change="getPhysician()">
                                                            <option value="0" selected="" disabled="">Clinic/Location</option>
                                                            <option v-for="location in locations" :value="location.id">
                                                                {{ location.clinic_name }}
                                                            </option>
                                                        </select>
                                                        <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.location_id">{{ errors.location_id['0'] }}</p>
                                                    </section>

                                                    <section class="col col-6">
                                                        <label class="select">Physician
                                                        <select name="physician_id" v-model="list.physician_id">
                                                            <option value="0" selected="" disabled="">Physician</option>
                                                            <option v-for="physician,key in physicians" :value="physician.id">
                                                                {{ physician.name }}
                                                            </option>
                                                        </select>
                                                        <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.physician_id">{{ errors.physician_id['0'] }}</p>
                                                    </section>
                                                </div>
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">First Name</label>
                                                        <label class="input">
                                                            <input type="text" name="f_name" v-model="list.f_name">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.f_name">{{ errors.f_name['0'] }}</p>                                                                                                            
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Last Name</label>
                                                        <label class="input">
                                                            <input type="text" name="l_name" v-model="list.l_name">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.l_name">{{ errors.l_name['0'] }}</p>
                                                    </section>
                                                </div>
                                            </section>


                                            <section>
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Email</label>
                                                        <label class="input">
                                                            <input type="email" name="email" v-model="list.email" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.email">{{ errors.email['0'] }}</p>
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="select">Country Code
                                                        <select name="country_code" v-model="list.country_code">
                                                            <option value="0" selected="" disabled="">Country Code</option>
                                                            <option v-for='country in countries' :value='country.phonecode'>
                                                                {{ country.country_name }} - {{ country.phonecode }}
                                                            </option>
                                                        </select>
                                                        <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.country_code">{{ errors.country_code['0'] }}</p>
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="label">Phone Number</label>
                                                        <label class="input">
                                                            <input type="text" name="phone_number" v-model="list.phone_number" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.phone_number">{{ errors.phone_number['0'] }}</p>
                                                    </section>
                                                </div>                                                
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Password</label>
                                                        <label class="input">
                                                            <input type="password" name="password" v-model="list.password" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.password">{{ errors.password['0'] }}</p>
                                                    </section>
                                                    
                                                    <section class="col col-6">
                                                        <label class="label">Confirm Password</label>
                                                        <label class="input">
                                                            <input type="password"  v-model="list.password_confirmation" class="input-sm">
                                                        </label>
                                                    </section>
                                                </div>
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-12">
                                                        <label class="label">Address</label>
                                                        <label class="input">
                                                            <input type="text" name="address" v-model="list.address" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.address">{{ errors.address['0'] }}</p>
                                                    </section>
                                                </div>                                                                                               
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="select">Country
                                                        <select name="country" v-model="list.country" @change="getState()">
                                                            <option value="0" selected="" disabled="">Country</option>
                                                            <option v-for='country in countries' :value='country.id'>{{ country.country_name }}</option>
                                                        </select> <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.country">{{ errors.country['0'] }}</p>
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="select">State
                                                        <select name="state" v-model="list.state" @change="getCity()">
                                                            <option value="0" selected="" disabled="">State</option>
                                                            <option v-for="state in states" :value="state.id">{{ state.state_name }}</option>
                                                        </select> <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.state">{{ errors.state['0'] }}</p>
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="select">City
                                                        <select name="city" v-model="list.city">
                                                            <option value="0" selected="" disabled="">City</option>
                                                            <option v-for="city in cities" :value="city.id">{{ city.city_name }}</option>
                                                        </select> <i style="top:31px !important;"></i> 
                                                        </label>
                                                        <p class="text-danger" v-if="errors.city">{{ errors.city['0'] }}</p>
                                                    </section>
                                                </div>                                                
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">State ID</label>
                                                        <label class="input">
                                                            <input type="text" name="state_id" v-model="list.state_id" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.state_id">{{ errors.state_id['0'] }}</p>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">ZIP Code</label>
                                                        <label class="input">
                                                            <input type="text" name="zip_code" v-model="list.zip_code" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.zip_code">{{ errors.zip_code['0'] }}</p>
                                                    </section>
                                                </div>                                                
                                            </section>


                                            <section>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Date of Birth</label>
                                                        <label class="input">
                                                            <input type="date" name="dob" v-model="list.dob" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.dob">{{ errors.dob['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="select">Gender
                                                        <select name="gender" v-model="list.gender">
                                                            <option value="0" selected="" disabled="">Gender</option>
                                                            <option value="Male">Male</option>                                              
                                                            <option value="Female">Female</option>                                              
                                                        </select>
                                                        <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.gender">{{ errors.gender['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Initial Visit</label>
                                                        <label class="input">
                                                            <input type="date" name="initial_visit" v-model="list.initial_visit" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.initial_visit">{{ errors.initial_visit['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Expiration</label>
                                                        <label class="input">
                                                            <input type="date" name="expiration" v-model="list.expiration" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.expiration">{{ errors.expiration['0'] }}</p>
                                                    </section>
                                                </div>                                                
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Caregiver</label>
                                                        <label class="input">
                                                            <input type="text" name="caregiver" v-model="list.caregiver" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.caregiver">{{ errors.caregiver['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Internal #</label>
                                                        <label class="input">
                                                            <input type="text" name="internal" v-model="list.internal" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.internal">{{ errors.internal['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Social Security Number</label>
                                                        <label class="input">
                                                            <input type="password" name="social_security_no" v-model="list.social_security_no" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.social_security_no">{{ errors.social_security_no['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="select">Rec Type
                                                        <select name="rec_type" v-model="list.rec_type">
                                                            <option value="0" selected="" disabled="">Rec Type</option>
                                                            <option value="Recommendation One">Recommendation One</option>
                                                            <option value="Recommendation Two">Recommendation Two</option>
                                                        </select>
                                                        <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.rec_type">{{ errors.rec_type['0'] }}</p>
                                                    </section>
                                                </div>                                                
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="select">Parent / Guardian
                                                        <select name="guardian" v-model="list.guardian">
                                                            <option value="0" selected="" disabled="">Parent / Guardian</option>
                                                            <option value="Father">Father</option>
                                                            <option value="Mother">Mother</option>
                                                            <option value="Brother">Brother</option>
                                                            <option value="Sister">Sister</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                        <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.guardian">{{ errors.guardian['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="select">Referred By
                                                        <select name="referred_by" v-model="list.referred_by">
                                                            <option value="0" selected="" disabled="">Referred By</option>
                                                            <option value="Google">Google</option>
                                                            <option value="Facebook">Facebook</option>
                                                            <option value="Yahoo">Yahoo</option>
                                                            <option value="Twitter">Twitter</option>
                                                        </select>
                                                        <i style="top:31px !important;"></i>
                                                        </label>
                                                        <p class="text-danger" v-if="errors.referred_by">{{ errors.referred_by['0'] }}</p>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">MMU ID #</label>
                                                        <label class="input">
                                                            <input type="text" name="mmu_id" v-model="list.mmu_id" class="input-sm">
                                                        </label>
                                                        <p class="text-danger" v-if="errors.mmu_id">{{ errors.mmu_id['0'] }}</p>
                                                    </section>
                                                    <section>
                                                        <label class="label">Contact Options</label>                                    
                                                        <div class="col col-3">
                                                            <label class="radio">
                                                                <input type="radio" name="contact_option" v-model="list.contact_option" value="Email" checked="checked">
                                                                <i></i>Email</label>
                                                            <label class="radio">
                                                                <input type="radio" name="contact_option" v-model="list.contact_option" value="SMS">
                                                                <i></i>SMS</label>
                                                                <p class="text-danger" v-if="errors.contact_option">{{ errors.contact_option['0'] }}</p>
                                                        </div>
                                                    </section>
                                                </div>                                                
                                            </section>

                                            

                                        </fieldset>


                                        <header>
                                            Patient Questions Section (Optional)
                                        </header>

                                        <fieldset>
                                            <section v-for="section,key in sections" class="question_system">
                                                <div class="row">
                                                    <div class="col col-12">
                                                        <div class="question_section_part">
                                                            <h3>{{ section.title }}</h3>
                                                            <h5 v-if="section.sub_title">{{ section.sub_title }}</h5>
                                                            <p v-if="section.description">{{ section.description }}</p>
                                                        </div>
                                                        <div v-for="(question, qu_key) in section.questions" class="question_question_part">

                                                            <!-- Loop for Checkbox -->
                                                            <div v-if="question.question_type == 1">

                                                                <input type="checkbox" v-model="list.symtomps_question_id" :value="question.id">

                                                                <h3 v-if="question.title">{{ question.title }}</h3>
                                                                <h5 v-if="question.sub_title">{{ question.sub_title }}</h5>
                                                                <h6 v-if="question.description">{{ question.description }}</h6>
                                                                <p v-if="question.question">{{ question.question }}</p>

                                                                <div class="row">
                                                                    <div class="col col-3" v-for="option in question.options">
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" v-model="list.medical_symtomps" :value="option.id">
                                                                            <i></i>{{ option.option }}
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <p>selected {{ list.medical_symtomps }}</p>

                                                            </div>

                                                            <!-- Loop for Input Field -->
                                                            <div v-if="question.question_type == 2 && show_section">
                                                                <h3 v-if="question.title">{{ question.title }}</h3>
                                                                <h5 v-if="question.sub_title">{{ question.sub_title }}</h5>
                                                                <h6 v-if="question.description">{{ question.description }}</h6>

                                                                <div class="row">
                                                                    <section class="col col-12" v-for="(qu_option, qu_index) in question.options" :key="qu_option.id">
                                                                        <label class="label" v-if="question.question">{{ question.question }} {{ qu_key }} </label>
                                                                        <label class="input">
                                                                            <input type="text" v-model="questions_model[qu_key]">
                                                                            <input type="text" v-model="questions_model[qu_key]">
                                                                        </label>
                                                                        <p class="text-danger" v-if="errors.f_name">{{ errors.f_name['0'] }}</p>                                                                                                            
                                                                    </section>
                                                                </div>
                                                            </div>


                                                            <!-- Loop for Radio Button -->
                                                            <div v-if="question.question_type == 3">
                                                                <h3 v-if="question.title">{{ question.title }}</h3>
                                                                <h5 v-if="question.sub_title">{{ question.sub_title }}</h5>
                                                                <h6 v-if="question.description">{{ question.description }}</h6>                                                                

                                                                <div class="row">
                                                                    <div class="col col-12" v-for="option in question.options">
                                                                        <p v-if="question.question">{{ question.question }}</p>
                                                                        <label class="radio">
                                                                            <input type="radio" value="1" name="radio">
                                                                            <i></i>Yes</label>
                                                                        <label class="radio">
                                                                            <input type="radio" value="0" name="radio" checked>
                                                                            <i></i>No</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </fieldset>



                                        <header>
                                            Drivers License / State ID And Photo (Optional)
                                        </header>

                                        <fieldset>
                                            <section>
                                                <div class="row">

                                                    <section class="col col-3">
                                                        <div class="ic-profile-upload">
                                                            <span>Drivers Lic / State ID Front</span>
                                                            <ul>
                                                                <li>
                                                                    <label class="file-type">
                                                                        Camera
                                                                        <input type="button" @click="callCamera" style="display:none">
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="file-type">
                                                                        Capture
                                                                        <input type="button" @click="takeSnapshotForStateIdFront" style="display:none">
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                            <input type="hidden" value="" v-model="list.state_id_front" name="state_id_front" id="state_id_front">
                                                        </div>
                                                    </section>
                                                    
                                                    <section class="col col-3">
                                                        <div class="ic-profile-upload">
                                                            <span>Drivers Lic / State ID Back</span>
                                                            <ul>
                                                                <li>
                                                                    <label class="file-type">
                                                                        Camera
                                                                        <input type="button" @click="callCamera" style="display:none">
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="file-type">
                                                                        Capture
                                                                        <input type="button" @click="takeSnapshotForStateIdBack" style="display:none">
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                            <input type="hidden" value="" v-model="list.state_id_back" name="state_id_back" id="state_id_back">
                                                        </div>
                                                    </section>

                                                    <section class="col col-3">
                                                        <div class="ic-profile-upload">
                                                            <span>Patient Photo <br> Required for ID Card</span>
                                                            <ul>
                                                                <li>
                                                                    <label class="file-type">
                                                                        Camera
                                                                        <input type="button" @click="callCamera" style="display:none">
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="file-type">
                                                                        Capture
                                                                        <input type="button" @click="takeSnapshotForPatient" style="display:none">
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                            <input type="hidden" value="" v-model="list.patient_photo_id" name="patient_photo_id" id="patient_photo_id">
                                                        </div>
                                                    </section>

                                                    <section class="col col-3" id="web_cam_show">
                                                        
                                                    </section>

                                                </div>
                                            </section>

                                            <section>
                                                <div class="row">
                                                    <section class="col col-4 offset-md-4">
                                                        <div id="webcam_snapshot"></div>
                                                    </section>
                                                </div>
                                            </section>
                                        </fieldset>



                                        <header>
                                            Patient Files (Optional)
                                        </header>

                                        <fieldset>
                                            <section class="ic-patient-files">
                                                <div class="row">
                                                    <div class="col col-6 text-center">
                                                        <div class="ic-ptf-item">
                                                            <img src="http://localhost:8000/frontend/images/upload-icon.png" alt="Upload">
                                                            <h6>Upload files from here</h6>
                                                            <ul>
                                                                <!-- <li>
                                                                    <label class="file-type">
                                                                        Select Files
                                                                        <input type="file" id="patient_file" name="patient_file[]" multiple="">
                                                                    </label>                                                                    
                                                                </li> -->
                                                               
                                                                <li>
                                                                    <label class="file-type">
                                                                        Select Files
                                                                        <input type="file" ref="file" @change="showFile" multiple="multiple">
                                                                    </label>
                                                                    <!-- <button @click="submitFiles" type="submit">upload</button> -->
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col col-6">
                                                        <div class="ic-patient-form">
                                                            <ul class="ic-patient-head">
                                                                <li>
                                                                    File Name
                                                                </li>
                                                            </ul>
                                                            <div class="ic-patient-body">
                                                                <h6 id="noFile">No patient files uploaded yet!</h6>
                                                                <ul v-for="patientFile in patientFiles" class="list-group" id="showPatientFiles">                                                                    
                                                                    <li class="list-group-item">{{ patientFile.name }}</li>
                                                                    <!-- After upload file..file will be show here -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </fieldset>



                                        <header>
                                            Physician / Stuff Signature (Optional)
                                        </header>


                                        <fieldset>
                                            <section>
                                                <div class="row">
                                                    <div class="col col-12">
                                                        <div class="row">
                                                            <div class="col col-12">
                                                                <label class="label">Signees Name</label>
                                                                <label class="input">
                                                                    <input type="text" name="signature_name" v-model="list.signature_name" placeholder="Enter Text Here" class="form-control input-sm">
                                                                </label>
                                                                
                                                            </div>
                                                            
                                                            <div class="col col-12">
                                                                <div class="ic-signature">
                                                                    <h6>Please sign below using a stylus, your mouse, or your finger and then click “SAVE”</h6>
                                                                    <div class="ic-signature-inner">
                                                                        <div class="ic-signature-canvas d-none d-sm-block d-md-block d-lg-block">
                                                                            <canvas id="signature" width="450" height="150" style="touch-action: none;"></canvas>
                                                                            <input type="hidden" value="" name="signature_data" v-model="list.signature_data" id="signature_data">
                                                                        </div>
                                                                        <p>Save your signature before submit the form</p>
                                                                        <button type="button" id="clear-signature" @click="clearSignature()" class="small-btn mr-2">Clear</button>
                                                                        <button type="button" class="small-btn" @click="getSignature()">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </fieldset>


  

                                        <footer>
                                            <button type="submit" @click="save" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                Back
                                            </button>
                                        </footer>
                                    <!-- </form> -->
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- END COL -->



                </div>

                <!-- END ROW -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

</template>

<script>
export default {
   props : ['user'],

    data() {
        return {
            questions_model:[],

            list:{
                admin_id: '2',
                location_id: '',
                physician_id: '',
                f_name: '',
                l_name: '',
                email: '',
                country_code: '',
                phone_number: '',
                password: '',
                password_confirmation: '',
                address: '',
                country: '',
                state: '',
                city: '',
                state_id: '',
                zip_code: '',
                dob: '',
                gender: '',
                initial_visit: '',
                expiration: '',
                caregiver: '',
                internal: '',
                social_security_no: '',
                rec_type: '',
                guardian: '',
                contact_option: '',
                referred_by: '',
                mmu_id: '',
                state_id_front: '',
                state_id_back: '',
                patient_photo_id: '',
                patient_file: '',
                signature_name: '',
                signature_data: '',
                formData: '',
                symtomps_question_id: [],
                medical_symtomps: [],
                significant_issue: [],

            },
            errors:{},
            success:{},
            locations:{},
            physicians:{},
            countries:{},
            states:{},
            cities:{},
            sections:{},
            patientFiles: {},  
            show_section: false  
            
        }
    },

    methods: {
        save() {

            let formData = new FormData();
            // let self = this

            //formData.append('lists', this.list)

            for ( var key in this.list ) {
                formData.append(key, this.list[key]);
            }

            for( var i = 0; i < this.$refs.file.files.length; i++ ){
                let file = this.$refs.file.files[i];
                //console.log(file);
                formData.append('files[' + i + ']', file);
            }

            // console.log(formData)
            axios.post('/patientAddByAdmin',formData ).then((response) => {
                console.log(response)
                this.list    =   ''
                this.success = response.data
                this.errors  = ''
            })
            .catch((error) => {
                this.errors =  error.response.data.errors
                console.log(error.response.data.errors)
            })
        },
        getLocation() {
            axios.post('/getLocation')
            .then((response)=> {
                this.locations = this.temp = response.data
                // console.log(response.data)
            })
            .catch((error)=> {
                this.errors = error.response.data.errors
                // console.log(error.response.data.errors)
            })
        },
        getPhysician() {
            axios.get(`/getLocWisePhyi/${this.list.location_id}`)
            .then((response)=> {
                this.physicians = this.temp = response.data.data
                // console.log(response.data.data)
            })
            .catch((error)=> {
                this.errors = error.response.data.errors
                // console.log(error.response.data.errors)
            })
        },
        getQuestion() {
            axios.post('/getQuestion')
            .then((response)=> {
                this.sections = this.temp = response.data
                console.log(response.data)
                this.show_section = true
            })
            .catch((error)=> {
                this.errors = error.response.data.errors
                console.log(error.response.data.errors)
            })
        },
        getCountry() {
            axios.post('/getCountry')
            .then((response)=> this.countries = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },
        getState() {
            axios.post(`/getState/${this.list.country}`)
            .then((response)=> this.states = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },
        getCity() {
            axios.post(`/getCity/${this.list.state}`)
            .then((response)=> this.cities = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },

        callCamera() {
            Webcam.set({
                width: 200,
                height: 220,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach( '#web_cam_show' );
        },

        takeSnapshotForPatient() {
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
                // display results in page
                document.getElementById('webcam_snapshot').innerHTML = 
                    '<h2>Here is your image:</h2>' + 
                    '<img src="'+data_uri+'"/>';
            } );

            var photo_data = $('#webcam_snapshot img').attr('src');
            $('#patient_photo_id').val(photo_data);
            this.list.patient_photo_id = photo_data;
            // console.log(photo_data);
        },

        takeSnapshotForStateIdFront() {
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
                // display results in page
                document.getElementById('webcam_snapshot').innerHTML = 
                    '<h2>Here is your image:</h2>' + 
                    '<img src="'+data_uri+'"/>';
            } );

            var photo_data = $('#webcam_snapshot img').attr('src');
            $('#state_id_front').val(photo_data);
            this.list.state_id_front = photo_data;
            // console.log(photo_data);
        },

        takeSnapshotForStateIdBack() {
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
                // display results in page
                document.getElementById('webcam_snapshot').innerHTML = 
                    '<h2>Here is your image:</h2>' + 
                    '<img src="'+data_uri+'"/>';
            } );

            var photo_data = $('#webcam_snapshot img').attr('src');
            $('#state_id_back').val(photo_data);
            this.list.state_id_back = photo_data;
            // console.log(photo_data);
        },

        showFile() {
            $("#noFile").hide();
            this.patientFiles = this.$refs.file.files;
        },

        signature() {
                var canvas = document.getElementById('signature');

                // var canvas = document.querySelector("canvas");

                var signaturePad = new SignaturePad(canvas);

                // Returns signature image as data URL (see https://mdn.io/todataurl for the list of possible parameters)
                signaturePad.toDataURL(); // save image as PNG
                signaturePad.toDataURL("image/jpeg"); // save image as JPEG
                signaturePad.toDataURL("image/svg+xml"); // save image as SVG

                // Draws signature image from data URL.
                // NOTE: This method does not populate internal data structure that represents drawn signature. Thus, after using #fromDataURL, #toData won't work properly.
                signaturePad.fromDataURL("data:image/png;base64,iVBORw0K...");

                // Returns signature image as an array of point groups
                const data = signaturePad.toData();


                // Draws signature image from an array of point groups
                signaturePad.fromData(data);

                // Clears the canvas
                signaturePad.clear();

                // Returns true if canvas is empty, otherwise returns false
                signaturePad.isEmpty();

                // Unbinds all event handlers
                signaturePad.off();

                // Rebinds all event handlers
                signaturePad.on();

        },

        getSignature() {
            var canvas = document.getElementById('signature');
            var dataURL = canvas.toDataURL();
            $('#signature_data').val(dataURL);
            this.list.signature_data = dataURL;
            console.log(dataURL);
        },
        clearSignature() {
            var canvas = document.getElementById('signature');
            var signaturePad = new SignaturePad(canvas);
            signaturePad.clear();
        }
        
    },
    mounted() {
        this.getCountry();
        this.getLocation();
        this.getQuestion();
        this.signature();
    },
    watch: {
        'sections':{
            handler: function()
            {
                let self = this
                let section_questions = self.sections[2].questions
                section_questions.forEach((item)=>{
                    let section_qu = {
                        question_id: item.id,
                        answer:''
                    }
                    self.questions_model.push(section_qu)
                })

            },
            deep: true
        }
    }



}
</script>
