<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span> 
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li><li>Patient Setting</li><li>Patient Section Data Tables</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
            ribbon for further usability

            Example below:

            <span class="ribbon-button-alignment pull-right">
            <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
            <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
            </span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-table fa-fw "></i> 
                            Patient Setting
                        <span>> 
                            Section Data Tables
                        </span>
                    </h1>
                </div>
            </div>
            
            <!-- widget grid -->
            <section id="widget-grid" class="">
            
                <!-- row -->
                <div class="row">
            
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            
                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"
            
                            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>Patient Section Data Tables </h2>            
                            </header>

                            <h3 style="text-align:center" v-if="success.msg">
                                {{ success.msg }}
                            </h3>
            
                            <!-- widget div-->
                            <div>
            
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
            
                                </div>
                                <!-- end widget edit box -->
            
                                <!-- widget content -->
                                <div class="widget-body no-padding">
            
                                    <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>			                
                                            <tr>
                                                <th data-hide="phone">SL</th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Section Title</th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Section Sub-Title </th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Description </th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Is Required </th>
                                                <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="section,key in sections">
                                                <td>{{ key+1 }}</td>
                                                <td>{{ section.title }}</td>                                               
                                                <td>{{ section.sub_title }}</td>                                                
                                                <td>{{ section.description }}</td>                                                
                                                <td v-if="section.is_required === 0">No</td>
                                                <td v-else="section.is_required === 1">Yes</td>
                                                <td>
                                                    <a :href="'#sectionModal' + key+1"  class="btn btn-primary" data-toggle="modal">Edit</a>
                                                    <button type="button" class="btn btn-danger" @click="del(key,section.id)">Delete</button>
                                                </td>

                                                <!-- Modal -->                                                
                                                <div class="modal fade" :id="'sectionModal' + key+1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>                                                            
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="remove">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-center text-success" v-if="success.updateMsg">
                                                                {{ success.updateMsg }}
                                                            </p>
                                                            <fieldset class="smart-form">
                                                                <section>
                                                                    <label class="label">Title</label>
                                                                    <label class="input">
                                                                        <input type="text" name="title" v-model="section.title" class="input-sm">
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.title">{{ errors.title['0'] }}</p>
                                                                </section>
                                                                <section>
                                                                    <label class="label">Sub-Title</label>
                                                                    <label class="input">
                                                                        <input type="text" name="sub_title" v-model="section.sub_title" class="input-sm">
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.sub_title">{{ errors.sub_title['0'] }}</p>
                                                                </section>
                                                                <section>
                                                                    <label class="label">Description</label>
                                                                    <label class="input">
                                                                        <input type="text" name="description" v-model="section.description" class="input-sm">
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.description">{{ errors.description['0'] }}</p>
                                                                </section>                                                                                                                                
                                                            </fieldset>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="remove">Close</button>
                                                            <button type="button" class="btn btn-primary" @click="update(section.id,key)">Update</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- end widget content -->
            
                            </div>
                            <!-- end widget div -->
            
                        </div>
                        <!-- end widget -->
            
                    </article>
                    <!-- WIDGET END -->
            
                </div>
            
                <!-- end row -->
            
            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->
</template>


<script>
export default {
    data() {
        return {
            errors: {},
            success: {},
            sections: {},
        }
    },

    methods: {
        getSections() {
            axios.get('/qsection')
            .then((response)=> {
                this.sections = this.temp = response.data
            })
            .catch((error)=> this.errors = error.response.data.errors)
        },     
        del(key,id) {
            if(confirm("Are you sure..?")) {
                axios.delete(`/qsection/${id}`)
                .then((response)=> {

                    this.sections.splice(key,1)
                    this.success = response.data
                })
                .catch((error) => this.errors = error.response.data.errors)
            }
        },
        update(id,key) {
            let data = JSON.parse(JSON.stringify(this.$data.sections[key]));

            axios.patch(`/qsection/${id}`,data)
                .then((response) => {
                    this.success = response.data
                    this.errors  = ''                    
                })
                .catch((error) => {
                    this.errors = error.response.data.errors                    
                })
        },
        remove() {
            this.success = ''
            this.errors = ''
        }
    },

    mounted() {
        this.getSections();
    }

}
</script>