<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li>
                <li>Patient Setting</li>
                <li>Add Question</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-fw "></i> 
								Patient Setting 
							<span>> 
								Add Question                                
							</span>
						</h1>                        
                </div>
            </div>


            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Add Question form</h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <!-- <form action="" method="POST" class="smart-form"> -->
                                    <div class="smart-form">

                                        <header v-if="success.msg">
                                            {{ success.msg }}
                                        </header>

                                       <fieldset>
                                           <section>
                                                <label class="select">Section
                                                <select name="section_id" v-model="list.section_id">
                                                    <!-- <option value="0" selected="" disabled="">Module</option> -->
                                                    <option v-for="section in sections" :value="section.id">
                                                        {{ section.title }}
                                                    </option>
                                                </select>
                                                <i style="top:31px !important;"></i>
                                                </label>
                                                <p class="text-danger" v-if="errors.section_id">{{ errors.section_id['0'] }}</p>
                                            </section>
                                            <section>
                                                <label class="label">Question Title</label>
                                                <label class="input">
                                                    <input type="text" name="title" v-model="list.title" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.title">{{ errors.title['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Question Sub-Title</label>
                                                <label class="input">
                                                    <input type="text" name="sub_title" v-model="list.sub_title" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.sub_title">{{ errors.sub_title['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Question Description</label>
                                                <label class="input">
                                                    <input type="text" name="description" v-model="list.description" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.description">{{ errors.description['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Question</label>
                                                <label class="input">
                                                    <input type="text" name="question" v-model="list.question" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.question">{{ errors.question['0'] }}</p>
                                            </section>
                                            
                                            <section>
                                                <label class="select">Question Type
                                                <select name="question_type" v-model="list.question_type">
                                                    <option value="0" selected="" disabled="">Question Type</option>                                                    
                                                    <option value="1">Checkbox</option>                                                    
                                                    <option value="2">Input Field</option>                                                    
                                                    <option value="3">Radio Button</option>                                                    
                                                </select>
                                                <i style="top:31px !important;"></i>
                                                </label>
                                                <p class="text-danger" v-if="errors.question_type">{{ errors.question_type['0'] }}</p>
                                            </section>

                                            <section v-if="list.question_type == 1">
                                                <label class="label">Add Option</label>

                                                <div class="form-group" v-for="(input,k) in list.inputs" :key="k">
                                                    <input type="text" class="form-control" name="option" v-model="input.option">
                                                    <span>
                                                        <i class="fa fa-minus-circle" @click="remove(k)" v-show="k || ( !k && list.inputs.length > 1)"></i>
                                                        <i class="fa fa-plus-circle" @click="add(k)" v-show="k == list.inputs.length-1"></i>
                                                    </span>
                                                </div>                                        
                                            </section>

                                            <section v-if="list.question_type == 3">
                                                <label class="label">Add Option</label>

                                                <div class="form-group" v-for="(input,k) in list.inputs" :key="k">
                                                    <input type="text" class="form-control" name="option" v-model="input.option">
                                                    <span>
                                                        <i class="fa fa-minus-circle" @click="remove(k)" v-show="k || ( !k && list.inputs.length > 1)"></i>
                                                        <i class="fa fa-plus-circle" @click="add(k)" v-show="k == list.inputs.length-1"></i>
                                                    </span>
                                                </div>
                                            </section>

                                        </fieldset>

                                        <footer>
                                            <button type="submit" @click="save" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                Back
                                            </button>
                                        </footer>
                                    <!-- </form> -->
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- END COL -->
                </div>

                <!-- END ROW -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

</template>

<script>
export default {
   props : ['user'],

    data() {
        return {
            list:{
                section_id: '',
                title: '',
                sub_title: '',
                description: '',
                question_type: '',
                question: '',
                // option: '',
                inputs: [
                        {
                            option: ''
                        }
                    ]
            },
            errors:{},
            success:{},
            sections:{},


        }
    },
    methods: {
        save() {
            axios.post('/question',this.$data.list).then((response) => {
                this.list    =   ''
                this.success =   response.data
                this.errors  =   ''
                // console.log(response)
            })
            .catch((error) => {
                this.errors = error.response.data.errors
                // console.log(error.response.data.errors)             
            })
        },
        getSections() {
            axios.get('/qsection')
            .then((response)=> {
                this.sections = this.temp = response.data
            })
            .catch((error)=> this.errors = error.response.data.errors)
        },
        add(index) {
            this.list.inputs.push({ option: '' });
        },
        remove(index) {
            this.list.inputs.splice(index, 1);
        }
    },
    mounted() {
        this.getSections();
    }



}
</script>
