<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li>
                <li>Physician</li>
                <li>Physician Add</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-fw "></i> 
								Physician 
							<span>> 
								Add Physician                                
							</span>
						</h1>                        
                </div>
            </div>


            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Add Physician form</h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <!-- <form action="" method="POST" class="smart-form"> -->
                                    <div class="smart-form">

                                        <header v-if="success.msg">
                                            {{ success.msg }}
                                        </header>

                                        <input type="hidden" name="admin_id" value="2" v-model="list.admin_id" class="input-sm">

                                        <fieldset>

                                            <section>
                                                <label class="select">Clinic/Location
                                                <select name="location_id" v-model="list.location_id">
                                                    <!-- <option value="0" selected="" disabled="">Clinic/Location</option> -->
                                                    <option v-for="location in locations" :value="location.id">
                                                        {{ location.clinic_name }}
                                                    </option>
                                                </select>
                                                <i style="top:31px !important;"></i>
                                                </label>
                                                <p class="text-danger" v-if="errors.location_id">{{ errors.location_id['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Physician Name</label>
                                                <label class="input">
                                                    <input type="text" name="name" v-model="list.name" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.name">{{ errors.name['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Email</label>
                                                <label class="input">
                                                    <input type="email" name="email" v-model="list.email" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.email">{{ errors.email['0'] }}</p>
                                            </section>
                                            
                                            <section>
                                                <label class="label">Password</label>
                                                <label class="input">
                                                    <input type="password" name="password" v-model="list.password" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.password">{{ errors.password['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Phone</label>
                                                <label class="input">
                                                    <input type="text" name="phone" v-model="list.phone" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.phone">{{ errors.phone['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">License</label>
                                                <label class="input">
                                                    <input type="text" name="license" v-model="list.license" class="input-sm">
                                                </label>
                                                <p class="text-danger" v-if="errors.license">{{ errors.license['0'] }}</p>
                                            </section>

                                            <section>
                                                <label class="label">Notification</label>
                                                <div class="row">
                                                    <div class="col col-4">
                                                        <label class="radio">
                                                            <input type="radio" name="notification" v-model="list.notification" value="1" checked="checked">
                                                            <i></i>Yes</label>
                                                        <label class="radio">
                                                            <input type="radio" name="notification" v-model="list.notification" value="0">
                                                            <i></i>No</label>
                                                            <p class="text-danger" v-if="errors.notification">{{ errors.notification['0'] }}</p>
                                                    </div>
                                                    
                                                </div>
                                            </section>

                                        </fieldset>

                                        <footer>
                                            <button type="submit" @click="save" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                Back
                                            </button>
                                        </footer>
                                    <!-- </form> -->
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- END COL -->



                </div>

                <!-- END ROW -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

</template>

<script>
export default {
   props : ['user'],

    data() {
        return {
            list:{
                admin_id: '2',
                location_id: '',
                name: '',
                email: '',
                password: '',
                phone: '',
                license: '',
                notification: ''
            },
            errors:{},
            success:{},
            locations:{},
            roles:{},
        }
    },
    methods: {
        save() {
            axios.post('/physician',this.$data.list).then((response) => {
                this.list    =   ''
                this.success =   response.data
                this.errors  =   ''
            })
            .catch((error) => this.errors = error.response.data.errors)
        },
        getLocation() {
            axios.post('/getLocation')
            .then((response)=> this.locations = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },
        getRole() {
            axios.post('/getRole')
            .then((response)=> this.roles = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        }
    },
    mounted() {
        this.getLocation();
        this.getRole();
    }



}
</script>
