<template>
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span> 
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Dashboard</li><li>Staff</li><li>Staff Data Tables</li>
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
            ribbon for further usability

            Example below:

            <span class="ribbon-button-alignment pull-right">
            <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
            <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
            </span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-table fa-fw "></i> 
                            Staff
                        <span>> 
                            Staff Tables
                        </span>
                    </h1>
                </div>
            </div>
            
            <!-- widget grid -->
            <section id="widget-grid" class="">
            
                <!-- row -->
                <div class="row">
            
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            
                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"
            
                            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>Staff Data Tables </h2>
                            </header>

                            <h3 style="text-align:center" v-if="success.msg">
                                {{ success.msg }}
                            </h3>
            
                            <!-- widget div-->
                            <div>
            
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
            
                                </div>
                                <!-- end widget edit box -->
            
                                <!-- widget content -->
                                <div class="widget-body no-padding">
            
                                    <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>			                
                                            <tr>
                                                <th data-hide="phone">SL</th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Clinic Name</th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Staff Cat: Name</th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Staff Name </th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Email </th>
                                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Phone </th>
                                                <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="staff,key in staffs">
                                                <td>{{ key+1 }}</td>
                                                <td>{{ staff.clinic_name }}</td>                                               
                                                <td>{{ staff.staffCategoryName }}</td>                                               
                                                <td>{{ staff.name }}</td>                                                
                                                <td>{{ staff.email }}</td>
                                                <td>{{ staff.phone }}</td>
                                                <td>
                                                    <a :href="'#staffModal' + key+1"  class="btn btn-primary" data-toggle="modal">Edit</a>
                                                    <button type="button" class="btn btn-danger" @click="del(key,staff.id)">Delete</button>
                                                </td>

                                                <!-- Modal -->                                                
                                                <div class="modal fade" :id="'staffModal' + key+1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>                                                            
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="remove">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-center text-success" v-if="success.updateMsg">
                                                                {{ success.updateMsg }}
                                                            </p>
                                                            <fieldset class="smart-form">
                                                                <section>
                                                                    <label class="select">Clinic/Location
                                                                    <select name="location_id" v-model="staff.location_id">
                                                                        <option value="0" selected="" disabled="">Clinic/Location</option>
                                                                        <option v-for="location in locations" :value="location.id">
                                                                            {{ location.clinic_name }}
                                                                        </option>
                                                                    </select>
                                                                    <i style="top: 31px !important;"></i> 
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.location_id">{{ errors.location_id['0'] }}</p>
                                                                </section>

                                                                <section>
                                                                    <label class="select">Staff Category
                                                                        <select name="category_id" v-model="staff.category_id">
                                                                            <option value="0" selected="" disabled="">Staff Category</option>
                                                                            <option v-for="staff in staffs" :value="staff.id">
                                                                                {{ staff.staffCategoryName }}
                                                                            </option>
                                                                        </select> <i style="top: 31px !important;"></i>
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.category_id">{{ errors.category_id['0'] }}</p>
                                                                </section>

                                                                <section>
                                                                    <label class="label">Staff Name</label>
                                                                    <label class="input">
                                                                        <input type="text" name="name" v-model="staff.name" class="input-sm">
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.name">{{ errors.name['0'] }}</p>
                                                                </section>
                                                                <section>
                                                                    <label class="label">Email</label>
                                                                    <label class="input">
                                                                        <input type="email" name="email" v-model="staff.email" class="input-sm">
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.email">{{ errors.email['0'] }}</p>
                                                                </section>
                                                                <section>
                                                                    <label class="label">Phone</label>
                                                                    <label class="input">
                                                                        <input type="text" name="phone" v-model="staff.phone" class="input-sm">
                                                                    </label>
                                                                    <p class="text-danger" v-if="errors.phone">{{ errors.phone['0'] }}</p>
                                                                </section>
                                                            </fieldset>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="remove">Close</button>
                                                            <button type="button" class="btn btn-primary" @click="update(staff.id,key)">Update</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- end widget content -->
            
                            </div>
                            <!-- end widget div -->
            
                        </div>
                        <!-- end widget -->
            
                    </article>
                    <!-- WIDGET END -->
            
                </div>
            
                <!-- end row -->
            
            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->
</template>


<script>
export default {
    data() {
        return {
            errors: {},
            success: {},
            staffs: {},
            locations: {},
        }
    },

    methods: {
        getStaff() {
            axios.get('/staff')
            .then((response)=> {
                this.staffs = this.temp = response.data
                // console.log(response)
            })
            .catch((error)=> this.errors = error.response.data.errors)
        },
        getLocation() {
            axios.post('/getLocation')
            .then((response)=> this.locations = this.temp = response.data)
            .catch((error)=> this.errors = error.response.data.errors)
        },
        del(key,id) {
            if(confirm("Are you sure..?")) {
                axios.delete(`/staff/${id}`)
                .then((response)=> {
                    this.staffs.splice(key,1)
                    this.success = response.data
                })
                .catch((error) => this.errors = error.response.data.errors)
            }
        },
        update(id,key) {
            let data = JSON.parse(JSON.stringify(this.$data.staffs[key]));

            axios.patch(`/staff/${id}`,data)
                .then((response) => {
                    this.success = response.data
                    this.errors  = ''
                })
                .catch((error) => {
                    this.errors = error.response.data.errors
                })
        },
        remove() {
            this.success = ''
            this.errors = ''
        }
    },

    mounted() {
        this.getStaff();
        this.getLocation();
    }

}
</script>